
@{
    ViewBag.Title = "ProfileAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Başlık</label>
    <input type="text" name="ProfileTitle" class="form-control" />
    <label>Tanım</label>
    <input type="text" name="ProfileDescription" class="form-control" />
    <label>Ad</label>
    <input type="text" name="Name" class="form-control" />
    <label>Mail</label>
    <input type="text" name="Mail" class="form-control" />
    <label>Adres</label>
    <input type="text" name="Address" class="form-control" />
    <label>Telefon</label>
    <input type="text" name="Phone" class="form-control" />
    <label>Sosyal Medya 1</label>
    <input type="text" name="SocialMedia1" class="form-control" />
    <label>Sosyal Medya 2</label>
    <input type="text" name="SocialMedia2" class="form-control" />
    <label>Sosyal Medya 3</label>
    <input type="text" name="SocialMedia3" class="form-control" />
    <label>Sosyal Medya 4</label>
    <input type="text" name="SocialMedia4" class="form-control" />
    <br />
    <button class="btn btn-outline-success">Ekle</button>
</form>

