
@{
    ViewBag.Title = "ProjectAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Başlık</label>
    <input type="text" name="ProjectTitle" class="form-control" />
    <label>Tanım</label>
    <input type="text" name="ProjectDescription" class="form-control" />
    <label>Başlık</label>
    <input type="text" name="ProjectImageUrl" class="form-control" />
    <br />
    <button class="btn btn-outline-success">Ekle</button>
</form>
