@model ResumeProject.Models.TBLTechnology
@{
    ViewBag.Title = "AddTechnology";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">

        <label>Teknololi Adı</label>
        @Html.TextBoxFor(x=>x.TechnologyTitle, new {@class="form-control"})
        <br />
        <label>Teknoloji Değeri</label>
        @Html.TextBoxFor(x=>x.TechnologyCalue, new {@class="form-control"})
    <br />
    <button class="btn btn-primary">Verileri Kaydet</button>
</form>

